a.button {
    @include bold-italic;
    transition-property: color, text-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    color: $color-primary;
    text-decoration: none;
    padding: $spacing ($spacing * 1.5) + $font-size;
    padding-right: calc(#{(($spacing * 1.5) * 3) + $font-size * 2} + 1ch + 1.5px);
    display: block;
    position: relative;

    &::before,
    &::after {
        @include regular;
    }

    &::before {
        transition-property: background-color;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
        content: ">";
        text-align: right;
        color: $color-primary-contrast;
        text-shadow: 0 1px 1px $color-primary-dark;
        background-color: $color-primary;
        padding: $spacing ($spacing * 1.5) + $font-size;
        padding-right: ($spacing * 1.5) + $font-size;
        border-radius: $spacing + $font-size;
        box-shadow: $box-shadow;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -2;
    }

    &::after {
        transition-property: color, text-shadow;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
        content: '';
        background-color: white;
        width: calc(100% - #{(($spacing * 1.5) * 2) + $font-size} - 1ch - 1.5px);
        height: calc(100% - 3px);
        border-radius: calc(#{$spacing + $font-size} - 1px);
        display: inline-block;
        position: absolute;
        top: 1.5px;
        left: 1.5px;
        z-index: -1;
    }

    &:hover,
    &:focus {
        &::before {
            color: $color-primary;
            text-shadow: 0 1px 1px $color-primary-contrast;
            background-color: $color-primary-light;
        }
    }

    &:active {
        &::before  {
            color: $color-primary-contrast;
            text-shadow: 0 1px 1px $color-primary-contrast;
            background-color: $color-primary-dark;
        }
    }

    &[target="_blank"] {
        &::before {
            content: "»";
        }
    }

    &#etsy-link {
        color: #F1641E;

        &::before {
            text-shadow: 0 1px 1px darken($color: #F1641E, $amount: 30%);
            color: white;
            background-color: #F1641E;
        }
        
        &:hover,
        &:focus {
            color: #4d6bc6;

            &::before {
                text-shadow: 0 1px 1px #232347;
                background-color: #4d6bc6;
            }
        }
    }

    &#instagram-link {
        color: #e6683c;

        &::before {
            transition-property: background-position;
            text-shadow: 0 1px 1px darken($color: #bc1888, $amount: 30%);
            color: white;
            background: linear-gradient(
                45deg,
                #f09433 0%,
                #e6683c calc(25% / 2),
                #dc2743 calc(50% / 2),
                #cc2366 calc(75% / 2),
                #bc1888 calc(100% / 2),
                #cc2366 calc(125% / 2),
                #dc2743 calc(150% / 2),
                #e6683c calc(175% / 2),
                #f09433 calc(200% / 2)
            );
            background-size: 200% 200%;
        }
        
        &:hover,
        &:focus {
            color: #bc1888;

            &::before {
                text-shadow: 0 1px 1px darken($color: #f09433, $amount: 30%);
                background-position: 100% 0;
            }
        }

    }
}